{% include 'judge_base.html' %}
{% load static%}

<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="caption header-text">
          <h6>Welcome to Marian(Judge)</h6>
          <h2>BEST TECH FEST EVER!</h2>
          <p>Ignite is a highly anticipated annual tech fest organized by Marian College Kuttikanam. As one of the premier technical events in the region, Ignite brings together students, tech enthusiasts, and industry professionals for a vibrant celebration of technology and innovation.</p>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2">
        <div class="right-image">
          <img src="{% static 'ignite/assets/images/ignite.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section trending">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h6>Trending</h6>
          <h2>Trending Games</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-button">
          <a href="events">View All</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <img src="{% static 'ignite/assets/images/tressurehunt.png' %}" alt="">
          </div>
          <div class="down-content">
            <span class="category">Action</span>
            <h4>Treasure Hunt</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <img src="{% static 'ignite/assets/images/project.jpg' %}" alt="">
          </div>
          <div class="down-content">
            <span class="category">Action</span>
            <h4>Project Expo</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <img src="{% static 'ignite/assets/images/quiz.jpg' %}" alt="">
          </div>
          <div class="down-content">
            <span class="category">Action</span>
            <h4>Programming Quiz</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <div class="thumb">
            <img src="{% static 'ignite/assets/images/coding.png' %}" alt="">
          </div>
          <div class="down-content">
            <span class="category">Action</span>
            <h4>Coding</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section categories">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h6>Sponsors</h6>
          <h2>Event Sponsors</h2>
                </div>
          </div>
          <div class="col-lg col-sm-6 col-xs-12">
            <div class="item">
              <h4>SS</h4>
              <div class="thumb">
                <a href="#" class="sponsor-image-link" data-image-src="{% static 'ignite/assets/images/a.png' %}">
                  <img src="{% static 'ignite/assets/images/a.png' %}" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg col-sm-6 col-xs-12">
            <div class="item">
              <h4>Icons</h4>
              <div class="thumb">
                <a href="#" class="sponsor-image-link" data-image-src="{% static 'ignite/assets/images/b.png' %}">
                  <img src="{% static 'ignite/assets/images/b.png' %}" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg col-sm-6 col-xs-12">
            <div class="item">
              <h4>NCC</h4>
              <div class="thumb">
                <a href="#" class="sponsor-image-link" data-image-src="{% static 'ignite/assets/images/c.png' %}">
                  <img src="{% static 'ignite/assets/images/c.png' %}" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg col-sm-6 col-xs-12">
            <div class="item">
              <h4>Ga Cibo</h4>
              <div class="thumb">
                <a href="#" class="sponsor-image-link" data-image-src="{% static 'ignite/assets/images/d.png' %}">
                  <img src="{% static 'ignite/assets/images/d.png' %}" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg col-sm-6 col-xs-12">
            <div class="item">
              <h4>Centro</h4>
              <div class="thumb">
                <a href="#" class="sponsor-image-link" data-image-src="{% static 'ignite/assets/images/d.png' %}">
                  <img src="{% static 'ignite/assets/images/e.png' %}" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="image-popup">
      <img src="" alt="" class="popup-image">
    </div>
    <footer>
      <div class="container">
        <div class="col-lg-12">
          <p>
            &copy; 2048 IGNITE Marian College Kuttikanam. &nbsp;&nbsp;
            <a rel="nofollow" href="https://templatemo.com" target="_blank">Design: TemplateMo</a>
          </p>
        </div>
      </div>
    </footer>
    
    </body>
    </html>
    
